#container{
	margin-bottom: 10px;

}
.main{
	width: 500px;
	margin-left: 20%;
	margin-top: 2%;
	margin-bottom: 1%;

}
.main p{
	color: #888888;
	font-size: 12px;
}
.main a{
	color: "orange";
	font-size: 12px;
}
section{
	border: 1px solid black;
}
#call-to-action {
	width: 100vw;
	color: "#cdcdcd";
	text-align: center;
	margin-bottom: 0;
	margin-top: 10%;
	background-color: "#cdcdcd";
	padding-top: 2%;

}
	svg#dotKey{
position: absolut;
	margin-top: -170px;
	margin-bottom: 1%;
	padding-left: 1%;
	padding-top: 1%;
	margin-left: 25%;

}

#key{
	text-align: left;
	width: 60vw;
	margin-left: 30%;
	padding-top: 2%;
	}
#search, #sort{
	text-align: center;
	margin: auto;
}

.ui-widget{
	float: right;
	margin-top: 10%;
	margin-right: 20%;

}

#sort {

}
#wrapper{
	width: 100vw;
	height: 100vh;
}
p {
	color: "#cdcdcd";
	margin-top: 0;
	padding-top: 0;
	text-align: left;
}

ul.timeline{
	width: 1260px;
	margin-left: 58px;
	margin-top: -60px;
	list-style: none;
	display: inline-block;
	font-size: 28px;
	position: absolute;
	color: "steelblue"

}
ul.timeline li{
	border-right: 3px solid black;
	text-align: right;
	display: inline;
	margin-left: 130px;
	padding: 1%;
}
.signatureList {
	width: 80vw;
	height: auto;
	display: inline-block;
	background-color: "#cdcdcd";
	text-align: none;
	margin-top: 5%;


}
.signature {
	border-style: 1px solid black;
	float: left;
	display: inline-block;
	margin: 1% 3% 1% 3%;

}
h2.signatureName {
	margin-bottom: 0;
}

.tip {
	color: white;
  text-transform: uppercase;
	padding: 1%;
	background-color: rgba(0, 0, 0, .8);
	text-align: center;
}

.bubbles{
	height: auto;
	width: auto;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
.links {
	height: 400;
	width: 600;
	margin-left: 15%;
}
